.wrapper {
    height: 80vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.myForm {
    align-self: center;
}
.imgLogo{
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}
.myLoginForm {
    padding: 20px;
}

h2 {
    background: #4f6174;
    margin: 0px;
    text-align: center;
    color: white;
    padding: 10px;
}

.formFields {
    margin: 10px;
    font-size: 1.2em;
}

.inputFields {
    margin: 10px 10px 10px 0;
    padding: 10px;
    font-size: 1.05em;
    border-radius: 5px;
    border-color: rgb(153, 153, 167);
}

.has-error {
    border-color: red;
    color: red;
}

.buttons {
  text-align: center
}

.loginBtn {
  background: cornflowerblue;
}

.registerBtn {
  background: darkcyan;
}

.validationMessage {
    padding-top: 10px;
    color: red;
}

.options {
    text-align: center;
    margin: 10px;
}

.buttons button {
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
}

button:disabled {
    cursor: not-allowed;
}

button:not(:disabled) {
    cursor: pointer;
}

@import '../@theme/styles/themes';

@include nb-install-component() {
  .full-width {
    flex: 1;
    min-width: 220px;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
}



/* @-webkit-keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@-moz-keyframes spin{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}@keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.spinner{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1003;background: #000000;overflow:hidden}  .spinner div:first-child{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;box-shadow:0 3px 3px 0 rgba(255,56,106,1);transform:translate3d(0,0,0);animation:spin 2s linear infinite}  .spinner div:first-child:after,.spinner div:first-child:before{content:'';position:absolute;border-radius:50%}  .spinner div:first-child:before{top:5px;left:5px;right:5px;bottom:5px;box-shadow:0 3px 3px 0 rgb(255, 228, 32);-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}  .spinner div:first-child:after{top:15px;left:15px;right:15px;bottom:15px;box-shadow:0 3px 3px 0 rgba(61, 175, 255,1);animation:spin 1.5s linear infinite} */
